* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

body {
    background-color: rgb(0, 0, 0);
}

.heading {
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px -5%;
}

.container .main-video {
    background-color: rgba(21, 21, 21, 0.676);
    border-radius: 5px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.92);
}

.container .main-video video {
    width: 100%;
    border-radius: 5px;
}

.container .main-video .title {
    color: rgb(255, 255, 255);
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container .video-list {
    /* background-color: rgb(255, 0, 0); */
    /* background-color: rgba(9, 1, 90, 0.676); */
    background-color: rgba(21, 21, 21, 0.676);
    border: 1px solid rgba(0, 0, 0, 0.92);
    border-radius: 5px;
    height: 520px;
    overflow-y: scroll;
}

.container .video-list::-webkit-scrollbar {
    width: 7px;
}

.container .video-list::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 50px;
}

.container .video-list::-webkit-scrollbar-thumb {
    background-color: rgb(0, 63, 237);
    border-radius: 50px;
}

.container .video-list .vid video {
    width: 100px;
    border-radius: 5px;
}

.container .video-list .vid {
    display: flex;
    align-items: center;
    gap: 15px;
    /* background-color: #070770; */
    background-color: rgba(0, 0, 0, 0.925);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.container .video-list .vid:hover {
    background-color: rgb(11, 0, 55);
}

.container .video-list .vid.active {
    background-color: #2980b9;
}

.container .video-list .vid.active .tile {
    color: #fff;
}

.container .video-list .vid .title {
    color: rgb(255, 249, 249);
    font-size: 17px;
}

@media(max-width:991px) {
    .container {
        grid-template-columns: 2fr 1fr;
        padding: 10px;
    }
}

@media(max-width:768px) {
    .container {
        grid-template-columns: 1fr;
    }
}